<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>wsopenmarket</name>
	<displayName><![CDATA[WS Open Market]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Modulo para la integracion con open market]]></description>
	<author><![CDATA[Farmalisto]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
